<ion-grid class="grid">
  <ion-row class="fila1">
    <ion-col size-xs="12" size-lg="2" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="2" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="2" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="2" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="2" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="2" class="col1"></ion-col>
  </ion-row>
    
  <ion-row>
    <ion-col size-xs="12" size-lg="4" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="4" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="4" class="col1"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
    <ion-col size-xs="12" size-lg="1" class="col1"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" size-xs="12" size-lg="6" class="col1"></ion-col>
    <ion-col size="5" size-xs="12" size-lg="6" class="col1"></ion-col>
  </ion-row>

</ion-grid>
