ion-row {
    margin: 0 auto;
    margin-bottom: .9%;
    max-width: 100%;
    padding: 5px;  
  }

  .col1{
    flex: auto;
    background-color: #c9d0cf;
    padding: 4%;
    border: solid 1px #000000;  
  }

  ion-grid{
    background-color: #00d5ff;
    margin-top: 0 auto;
    margin: 0 auto;
  }

